torch==2.7.0+cu118
torchvision==0.22.0+cu118
pytorch-lightning==2.5.1 
segmentation-models-pytorch @ git+https://github.com/qubvel/segmentation_models.pytorch@3ef59f4e179b3dfa6a8372b677990e4d8c4937d7 
transformers==4.25.1 

numpy==1.25.2 
pandas==1.4.4 
scipy==1.15.2 

Pillow==11.2.1 
albumentations==1.4.6 
opencv-python==4.11.0.86 
                         

matplotlib==3.7.2 
seaborn==0.12.2 

PyYAML==6.0 
tqdm==4.67.1 
scikit-learn==1.6.1 
